In [0]:
#/FileStore/tables/olympix_data_organized_with_header__1_.csv


#Q1: Write PySpark code to read olympix_data.csv file

olympic=spark.read.csv("/FileStore/tables/olympix_data_organized_with_header__1_.csv",header=True,inferSchema=True)
olympic.show()

+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|                name|age|      country|year|Date_Given|              sports|gold_medal|silver_medal|brone_medal|total_medal|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|      Michael Phelps| 23|United States|2008| 8/24/2008|            Swimming|         8|           0|          0|          8|
|      Michael Phelps| 19|United States|2004| 8/29/2004|            Swimming|         6|           0|          2|          8|
|      Michael Phelps| 27|United States|2012|08-12-2012|            Swimming|         4|           2|          0|          6|
|    Natalie Coughlin| 25|United States|2008| 8/24/2008|            Swimming|         1|           2|          3|          6|
|       Aleksey Nemov| 24|       Russia|2000|10-01-2000|          Gymnastics|         2|           1|          3|          6|
|       Alicia Coutts| 24|    Australia|2012|08-12-2012|            Swimming|         1|           3|          1|          5|
|      Missy Franklin| 17|United States|2012|08-12-2012|            Swimming|         4|           0|          1|          5|
|         Ryan Lochte| 27|United States|2012|08-12-2012|            Swimming|         2|           2|          1|          5|
|     Allison Schmitt| 22|United States|2012|08-12-2012|            Swimming|         3|           1|          1|          5|
|    Natalie Coughlin| 21|United States|2004| 8/29/2004|            Swimming|         2|           2|          1|          5|
|          Ian Thorpe| 17|    Australia|2000|10-01-2000|            Swimming|         3|           2|          0|          5|
|         Dara Torres| 33|United States|2000|10-01-2000|            Swimming|         2|           0|          3|          5|
|       Cindy Klassen| 26|       Canada|2006| 2/26/2006|       Speed Skating|         1|           2|          2|          5|
|       Nastia Liukin| 18|United States|2008| 8/24/2008|          Gymnastics|         1|           3|          1|          5|
|       Marit Bjørgen| 29|       Norway|2010| 2/28/2010|Cross Country Skiing|         3|           1|          1|          5|
|            Sun Yang| 20|        China|2012|08-12-2012|            Swimming|         2|           1|          1|          4|
|     Kirsty Coventry| 24|     Zimbabwe|2008| 8/24/2008|            Swimming|         1|           3|          0|          4|
|Libby Lenton-Tric...| 23|    Australia|2008| 8/24/2008|            Swimming|         2|           1|          1|          4|
|         Ryan Lochte| 24|United States|2008| 8/24/2008|            Swimming|         2|           0|          2|          4|
|      Inge de Bruijn| 30|  Netherlands|2004| 8/29/2004|            Swimming|         1|           1|          2|          4|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
only showing top 20 rows

In [0]:
#Q2: Write PySpark code to print the Olympic Sports/games in the dataset.


olympic.select("sports").distinct().show()

+--------------------+
|              sports|
+--------------------+
|          Gymnastics|
|              Tennis|
|Short-Track Speed...|
|              Rowing|
|            Swimming|
|       Alpine Skiing|
|            Biathlon|
|           Athletics|
|          Equestrian|
|            Shooting|
|              Diving|
|         Ski Jumping|
|     Nordic Combined|
|       Speed Skating|
|        Table Tennis|
|            Canoeing|
|           Bobsleigh|
|             Cycling|
|Cross Country Skiing|
|Synchronized Swim...|
+--------------------+
only showing top 20 rows

In [0]:
olympic.show()

+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|                name|age|      country|year|Date_Given|              sports|gold_medal|silver_medal|brone_medal|total_medal|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|      Michael Phelps| 23|United States|2008| 8/24/2008|            Swimming|         8|           0|          0|          8|
|      Michael Phelps| 19|United States|2004| 8/29/2004|            Swimming|         6|           0|          2|          8|
|      Michael Phelps| 27|United States|2012|08-12-2012|            Swimming|         4|           2|          0|          6|
|    Natalie Coughlin| 25|United States|2008| 8/24/2008|            Swimming|         1|           2|          3|          6|
|       Aleksey Nemov| 24|       Russia|2000|10-01-2000|          Gymnastics|         2|           1|          3|          6|
|       Alicia Coutts| 24|    Australia|2012|08-12-2012|            Swimming|         1|           3|          1|          5|
|      Missy Franklin| 17|United States|2012|08-12-2012|            Swimming|         4|           0|          1|          5|
|         Ryan Lochte| 27|United States|2012|08-12-2012|            Swimming|         2|           2|          1|          5|
|     Allison Schmitt| 22|United States|2012|08-12-2012|            Swimming|         3|           1|          1|          5|
|    Natalie Coughlin| 21|United States|2004| 8/29/2004|            Swimming|         2|           2|          1|          5|
|          Ian Thorpe| 17|    Australia|2000|10-01-2000|            Swimming|         3|           2|          0|          5|
|         Dara Torres| 33|United States|2000|10-01-2000|            Swimming|         2|           0|          3|          5|
|       Cindy Klassen| 26|       Canada|2006| 2/26/2006|       Speed Skating|         1|           2|          2|          5|
|       Nastia Liukin| 18|United States|2008| 8/24/2008|          Gymnastics|         1|           3|          1|          5|
|       Marit Bjørgen| 29|       Norway|2010| 2/28/2010|Cross Country Skiing|         3|           1|          1|          5|
|            Sun Yang| 20|        China|2012|08-12-2012|            Swimming|         2|           1|          1|          4|
|     Kirsty Coventry| 24|     Zimbabwe|2008| 8/24/2008|            Swimming|         1|           3|          0|          4|
|Libby Lenton-Tric...| 23|    Australia|2008| 8/24/2008|            Swimming|         2|           1|          1|          4|
|         Ryan Lochte| 24|United States|2008| 8/24/2008|            Swimming|         2|           0|          2|          4|
|      Inge de Bruijn| 30|  Netherlands|2004| 8/29/2004|            Swimming|         1|           1|          2|          4|
+--------------------+---+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
only showing top 20 rows

In [0]:
#Q3: Write PySpark code to plot the total number of medals in  each Olympic Sport/game. Sort the result based on the the total number of medals.
from pyspark.sql.functions import *

df=olympic.groupBy("sports").agg(sum(col("total_medal")).alias("total_medals")).orderBy("total_medals")
display(df)

sports,total_medals
Skeleton,18
Triathlon,24
Trampoline,24
Modern Pentathlon,24
Luge,36
Freestyle Skiing,42
Snowboarding,48
Beach Volleyball,48
Figure Skating,54
Ski Jumping,54
Nordic Combined,54
Bobsleigh,72
Tennis,78
Curling,82
Rhythmic Gymnastics,84
Table Tennis,84
Alpine Skiing,90
Archery,96
Badminton,96
Taekwondo,112
Synchronized Swimming,129
Softball,134
Short-Track Speed Skating,138
Biathlon,138
Speed Skating,140
Diving,144
Cross Country Skiing,174
Weightlifting,180
Equestrian,182
Boxing,188
Shooting,192
Sailing,210
Baseball,216
Judo,224
Wrestling,245
Fencing,256
Volleyball,281
Gymnastics,282
Basketball,287
Cycling,306
Waterpolo,306
Canoeing,333
Handball,351
Ice Hockey,384
Hockey,388
Football,407
Rowing,576
Athletics,753
Swimming,765

In [0]:
#Q4: Find the total number of medals won by each country in swimming.

olympic2=olympic.filter(col("sports")=="wimming")
olympic2.groupBy("country").agg(sum(col("total_medal")).alias("total_medals")).show()

+-------------+------------+
|      country|total_medals|
+-------------+------------+
|       Russia|          20|
|       Sweden|           9|
|      Germany|          32|
|       France|          39|
|     Slovakia|           2|
|    Argentina|           1|
|Great Britain|          11|
|United States|         267|
|        China|          35|
|      Belarus|           2|
|      Croatia|           1|
|        Italy|          16|
|    Lithuania|           1|
|       Norway|           2|
|        Spain|           3|
|      Denmark|           1|
|      Ukraine|           7|
|  South Korea|           4|
|     Zimbabwe|           7|
|      Tunisia|           3|
+-------------+------------+
only showing top 20 rows

In [0]:
#Q5: Find the total number of medals won by each country in Skeleton.
olympic2=olympic.filter(col("sports")=="Skeleton")
olympic2.groupBy("country").agg(sum(col("total_medal")).alias("total_medals")).show()

+-------------+------------+
|      country|total_medals|
+-------------+------------+
|       Russia|           1|
|      Germany|           2|
|Great Britain|           3|
|United States|           3|
|  Switzerland|           3|
|       Latvia|           1|
|       Canada|           4|
|      Austria|           1|
+-------------+------------+

In [0]:
#Q6 Find the number of medals that the US won yearly.

olympic2=olympic.filter(col("country")=="United States")
olympic2.groupBy("year").agg(sum(col("total_medal")).alias("total_medals")).show()

+----+------------+
|year|total_medals|
+----+------------+
|2006|          52|
|2004|         265|
|2012|         254|
|2000|         243|
|2010|          97|
|2008|         317|
|2002|          84|
+----+------------+

In [0]:
#Q7 Find the total number of medals won by each country.


olympic.groupBy("country").agg(sum(col("total_medal")).alias("total_medals")).show()

+--------------+------------+
|       country|total_medals|
+--------------+------------+
|        Russia|         768|
|      Paraguay|          17|
|Chinese Taipei|          20|
|        Sweden|         181|
|       Eritrea|           1|
|     Singapore|           7|
|      Malaysia|           3|
|        Turkey|          28|
|       Germany|         629|
|   Afghanistan|           2|
|         Sudan|           1|
|        France|         318|
|        Greece|          59|
|     Sri Lanka|           1|
|       Algeria|           8|
|          Togo|           1|
|      Slovakia|          35|
|     Argentina|         141|
|       Belgium|          18|
| Great Britain|         322|
+--------------+------------+
only showing top 20 rows

In [0]:
#Q8 Who was the oldest athletic in the olympics? whcih country was he/she from?

olympic.select("name","age","country").orderBy(desc("age")).limit(1).show()

+----------+---+-------+
|      name|age|country|
+----------+---+-------+
|Ian Millar| 61| Canada|
+----------+---+-------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *

windowSpec=Window.partitionBy("name").orderBy(desc("age"))
olympic2=olympic.withColumn("Age_Rank",row_number().over(windowSpec))
olympic2.select("name","age","Age_Rank").orderBy(desc("age")).show()

+--------------------+---+--------+
|                name|age|Age_Rank|
+--------------------+---+--------+
|          Ian Millar| 61|       1|
|           Mark Todd| 56|       1|
|            Mac Cone| 55|       1|
|        Nick Skelton| 54|       1|
|Lesley Thompson-W...| 52|       1|
|       Peter Charles| 52|       1|
|   Mary Thomson-King| 51|       1|
|       Peter Thomsen| 51|       1|
|       Ilario Di Buò| 51|       1|
|    Andrew Nicholson| 50|       1|
|        Jean Teulère| 50|       1|
|     Rajmond Debevec| 49|       1|
|         Russ Howard| 49|       1|
|        Will Simpson| 49|       1|
|     Debbie McDonald| 49|       1|
|        Robert Dover| 48|       1|
|     Harald Stenvaag| 47|       1|
|       Kevin Burnham| 47|       1|
|Luiz Felipe de Az...| 47|       1|
|   Mary Thomson-King| 47|       2|
+--------------------+---+--------+
only showing top 20 rows

In [0]:
olympic.groupBy("name","age").count().orderBy(desc("age")).show()

+--------------------+---+-----+
|                name|age|count|
+--------------------+---+-----+
|          Ian Millar| 61|    1|
|           Mark Todd| 56|    1|
|            Mac Cone| 55|    1|
|        Nick Skelton| 54|    1|
|       Peter Charles| 52|    1|
|Lesley Thompson-W...| 52|    1|
|       Peter Thomsen| 51|    1|
|       Ilario Di Buò| 51|    1|
|   Mary Thomson-King| 51|    1|
|    Andrew Nicholson| 50|    1|
|        Jean Teulère| 50|    1|
|     Rajmond Debevec| 49|    1|
|        Will Simpson| 49|    1|
|     Debbie McDonald| 49|    1|
|         Russ Howard| 49|    1|
|        Robert Dover| 48|    1|
|       Kevin Burnham| 47|    1|
|Luiz Felipe de Az...| 47|    1|
|       Peter Thomsen| 47|    1|
|      Willi Melliger| 47|    1|
+--------------------+---+-----+
only showing top 20 rows